<%= render "menu" %>

<h1>Seu ambiente é: <%= rails_environment %> </h1>
<p>Seu sistema está em: <%= locale_lang(I18n.locale) %></p>
<h1><%= main_app_title %> - <%= l(Date.today) %></h1>
<p><%= I18n.t('hello') %></p>
