<div id="<%= dom_id coin %>">
  <p>
    <strong>Description:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Url image:</strong>
    <% if coin.url_image.present? %>
      <%= image_tag coin.url_image, width: 25, height: 25 %>
    <% else %>
      <span>Sem imagem</span>
    <% end %>

  </p>
  
  <p>
    <strong>Mining Type:</strong>
    <%= coin.mining_type&.description || "Tipo não definido" %>
  </p>


</div>
